POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=
DB_PORT=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
ZOOKEEPER_CLIENT_PORT=
ZOOKEEPER_TICK_TIME=
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=
KAFKA_TRANSACTIONS_ENABLE=
SECRET_KEY=
ALGORITHM=
ZIPKIN_ENDPOINT=
OTEL_SERVICE_NAME=
