name: CD - Deploy to Kubernetes

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4


    - name: Create Kind Cluster
      uses: helm/kind-action@v1.8.0

    - name: Set K8s Context
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Apply Kubernetes manifests
      run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f fastapi-service.yaml

    - name: Deploy to Kubernetes
      run: |
        kubectl rollout restart deployment/fastapi-book-service
