name: CD - Deploy to Kubernetes

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create Kind cluster
      uses: helm/kind-action@v1.8.0

    - name: Set K8s Context
      uses: azure/setup-kubectl@v3

    - name: Build and load Docker image
      run: |
        docker build -t fastapi-book-service:k8s .
        kind load docker-image fastapi-book-service:k8s

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ./k8s/
